td:hover {
  background-color: #64bbfab6;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black
}

.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000bb;
  z-index: 999;
}

