td:hover {
  background-color: #64bbfab6;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black
}

      /* Estilização para escurecer o fundo */
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Cor escura com 50% de opacidade */
        z-index: 999; /* Garante que o overlay esteja sobre os outros elementos */
      }

