td:hover {
  background-color: #64bbfab6;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black
}

.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000bb;
  z-index: 999;
}

.icon{
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.3);
}

.nav-item:hover {
  background-color: #64bbfa7e;
  border-radius: 4px;
}

